.box {  
    background-color: #282c34;
    min-height: 84vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    color: white;
  }  
  .bg{ 
    background-color:beige; 
    min-width: 90vw;
  } 
  .boxanswer{  
   
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
     width: 80%;
    height: 100%;
  
  
  } 
  .page{ 
    display: flex; 
    flex-direction: row; 
    align-items: flex-end; 
    justify-content: flex-end;
  }
 
  
 